* {
    font-family: 'Red Hat Display', sans-serif;
    box-sizing: border-box;
    margin: 0;
}

:root {
    --transition: all 330ms ease-in-out;
}

.font {
    font-family: 'Red Hat Display', sans-serif;
}

.dots-bars-10 {
    width: 70px;
    height: 30px;
    overflow: hidden;
    position: relative;
  }
  .dots-bars-10::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius:50%;
    inset:0;
    margin:auto; 
    background: currentColor;
    transform-origin: bottom;
    animation: db10-1 3s infinite;
  }
  .dots-bars-10::after {
    content: "";
    position: absolute;
    width:8px;
    height:14px;
    bottom:calc(50% - 4px);
    background: currentColor;
    animation: db10-2 3s infinite;
  }
  
  @keyframes db10-1 {
   0%,
   10% {transform:translate(0)     scale(1)  ;box-shadow: 60px 0 ,60px 0}
   20%,
   40% {transform:translate(20px)  scale(1)  ;box-shadow: 60px 0 ,60px 0}
   48% {transform:translate(20px)  scale(1)  ;box-shadow: 8px  0 ,60px 0}
   50% {transform:translate(20px)  scale(1.5);box-shadow: 0    0 ,60px 0}
   58% {transform:translate(20px)  scale(1.5);box-shadow: 0    0 ,8px  0}
   60%,
   70% {transform:translate(20px)  scale(2)  ;box-shadow: 0    0 ,0    0}
  
   85% {transform:translate(-50px) scale(2)  ;box-shadow: 0    0 ,0    0}
   87% {transform:translate(-50px) scale(1)  ;box-shadow: 0    0 ,0    0}
   100%{transform:translate(0)     scale(1)  ;box-shadow: 0    0 ,0    0}
  }
  
  @keyframes db10-2 {
   20%,70% {left:50%}
   0%,10%,85%,100% {left:-25px}
  }


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}

.toast {
    background: rgb(92,150,248);
    background: linear-gradient(90deg, rgba(92,150,248,1) 0%, rgba(131,200,128,1) 32%, rgba(163,77,74,1) 100%);
}

.logo-nav {
    margin-top: .45%;
    width: 184px;
    height: 80px;
}

.logo-nav:hover {
    cursor: pointer;
}

.nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.nav-wrap-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.color-wrap-nav div {
    justify-content: flex-end !important;
    /* margin-top: 30px; */
}

.nav-wrap-dash {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
}

.app-button {
    width: 100px;
    height: 40px;
    margin-left: 1rem;
    /* margin-top: 25px; */
    padding: 10px;
    display: flex;
    justify-content: center;
}

.app-button-dash {
    width: 100px;
    height: 40px;
    margin-top: 25px;
    border: 2px solid #6BCB77;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.app-button-text {
    color: #6BCB77;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    align-self: center;
}

.app-button:hover {
    cursor: pointer;
}

.app-button-dash:hover {
    cursor: pointer;
}

.hero-wrap {
    background-image: url(../../assets/dots.png);
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
}

.roadmap-wrap {
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    width: 100%;
}

.team-wrap {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    background-color: #E5E5E5;
    padding-top: 5%;
    padding-bottom: 2.5%;
}

.hero-top-wrap {
    width: 70%;
    padding-top: 200px;
}

.hero-main-text {
    font-size: 70px;
    font-weight: 600;
    line-height: 82px;
    color: #3D3D3D;
}

.hero-sub-text {
    font-weight: 500;
    font-size: 23px;
    line-height: 30.45px;
    color: #3D3D3D;
    opacity: .75;
}

.protocol-text {
    color: #6BCB77;
    margin-top: .4%;
}

.protocol-box {
    width: 45%;
    margin-top: 200px;
    margin-bottom: 3%;
}

.docs-arrow-box:hover {
    cursor: pointer;
}

.brand-box {
    padding-right: 10%;
    width: 248px;
    height: 228px;
}

.main-box-brand {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.docs-arrow-box {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.nav-color-wrap-dash {
    display: flex;
    flex-direction: row;
    /* border: 1px solid green; */
    width: 30%;
}

.dash-nav-boxwrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 25px;
    /* border: 1px solid black; */
}

.dash-nav-box {
    display: flex;
    flex-direction: row;
    padding: 10px, 15px, 10px, 15px;
    width: 125px;
    height: 40px;
    background: #C0EAC6;
    justify-content: center;
    text-align: center;
}

.color-wrap-nav-dash-bottom {
    margin-left: 10px;
}

.theme-box-dash {
    margin-top: 30px;
}

.balance-text {
    font-weight: 600;
    font-size: 15px;
    color: #3D3D3D;
    padding: 0;
    margin-top: 10px;
}

.dash-wrap-whole {
    background-image: url(../../assets/green-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-wrap-whole-red {
    background-image: url(../../assets/red-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-wrap-whole-gray {
    background-image: url(../../assets/grey-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-wrap-whole-blue {
    background-image: url(../../assets/blue-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-wrap-whole-yellow {
    background-image: url(../../assets/yellow-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}
.dash-wrap-whole-purple {
    background-image: url(../../assets/purple-yes.png);
    transition: var(--transition);
    background-repeat: no-repeat;
    background-size: cover;
}

.dashtop-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}

.dashtop-box {
    width: 220px;
    height: 160px;
}

.dashtop-miniwrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20%;
}

.supply-text {
    color: #6BCB77;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    padding: 0;
    margin: 0 auto;
    margin-top: 20%;
}

.box-number {
    color: #3D3D3D;
    font-weight: 500;
    font-size: 29px;
    line-height: 38px;
    padding: 0;
    margin: 0 auto;
    margin-top: 10%;
}

.dashbottom-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dashbottom-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1%;
}

.dashbottom-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2%;
    width: 100%;
}

.hover {
    cursor: pointer;
}

.blurred {
    filter: blur(4px) brightness(.5);
    -webkit-filter: blur(4px);
}

.modal-wrap {
    width: 30%;
    margin: 0 auto;
    outline: 0;
    border: none;
    background-color: #F4F4F4;
    margin-top: 20px;
}

.modal-top {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    /* padding-left: 80px;
    padding-right: 80px; */
    background-color: #F4F4F4;
}

.bitcoin-modal-title {
    width: 25px;
    height: 25px;
    margin-top: 18px;
    margin-left: 25px;
}

.input-modal-box {
    width: 33.33%;
    height: 100px;
    background-color: #F4F4F4;
}

.input-modal-box-right {
    width: 33.33%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F4F4F4;
}

.close-icon-box {
    margin-right: 20px;
    margin-top: 18px;
}

.icplogo-modal {
    margin-top: 42px;
}

.icp-logo-image {
    height: 15px;
    width: 28px;
}

.max-button-modal {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    padding-right: 20px;
    margin-top: 42px;
}

.number-input-modal {
    font-size: 45px;
    background: none;
    border: none;
    font-weight: 500;
    line-height: 60px;
    color: #3D3D3D;
    margin: 0 auto;
    width: 70%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.modal-title {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
}

.dashbottom-box {
    width: 570px;
    padding-bottom: .5%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 2%;
    background: white;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.earned-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3D3D3D;
    padding: 0;
    margin: 0;
    opacity: 50%;
}

.earned-balance-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #3D3D3D;
    padding: 0;
    margin: 0;
    opacity: 50%;
}

.dashbottom-box-top {
    width: 570px;
    padding-bottom: .5%;
    margin-left: 15px;
    margin-right: 15px;
    background: white;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.bucket {
    margin-top: 5px;
    height: 15px;
    width: 15px;
}

.bucket-dash {
    margin-top: 5px;
    /* height: 15px;
    width: 15px; */
}

.markets-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #3D3D3D;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.markets-title-small {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3D3D3D;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashbottom-labelrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.dashbottom-assetrow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-bottom: 10px;
}

.labelrow-text {
    color: #3D3D3D;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
}

.labelrow-asset {
    width: 30%;
}

.assetrow-asset {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.labelrow-apy {
    width: 15%;
}

.assetrow-apy {
    width: 15%;
    margin-top: 25px;
}

.positionrow-apy {
    width: 15%;
    margin-top: 12.5px;
}

.labelrow-wallet {
    width: 15%;
}

.assetrow-wallet {
    width: 15%;
    margin-top: 25px;
}

.positionrow-wallet {
    width: 15%;
    margin-top: 12.5px;
}

.labelrow-collateral {
    width: 20%;
}

.assetrow-collateral {
    width: 20%;
    padding-top: 3%;
}

.assetrow-collateral-right {
    width: 20%;
    margin-top: 25px;
}

.assetrow-text {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
}

.assetrow-text-btc {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

.assetrow-text-icp {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-top: 10px;
}

.bitcoin-logo {
    margin-right: 10%;
    height: 40px;
    width: 40px;
}

.logo-nav-dash {
    margin-top: 6px;
}

.logo-nav-dash:hover {
    cursor: pointer;
}

/* MODALS -------- */

.view-icon-wrap {
    margin-left: 5px;
}

.bar-modal-left {
    display: flex;
    flex-direction: row;
}

.supply-apy-number {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #3D3D3D;
    margin-top: 10px;
}

.supply-wrap {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.supply-rates-text {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    color: #3D3D3D;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
}

.supply-apy-text {
    color: #3D3D3D;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    opacity: .5;
    margin-left: 10px;
    margin-top: 7.5px;
}

.borrow-limit-text {
    color: #3D3D3D;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    margin-top: 20px;
}

.supply-button-grey {
    background-color: #3D3D3D;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.wallet-balance {
    color: #3D3D3D;
    margin-top: 10px;
    font-weight: 600;
    line-height: 20px;
    font-size: 15px;
    opacity: .4;
}

.supply-button {
    background-color: #6BCB77;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}

.supply-button-text {
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 15px;
    line-height: 20px;
    font-size: 15px;
    font-weight: 700;
}

.balance-text-new {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3D3D3D;
    margin-top: 10px;
    margin-right: 8px;
}

.balance-text-new-borrow {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #3D3D3D;
    margin-top: 10px;
}

.bubbles-wrap {
    padding-right: 165px;
    margin-bottom: 20px;
}

input{
    box-sizing: border-box;
    width: 33% 
} 

.box-balance {
    display: flex;
    flex-direction: row;
}

.community-text {
    height: 40px;
    width: 40px;
}

.community-box {
    margin-top: 5px;
}

.hero-bucket-box {
    position: fixed;
    top: 72.5%;
    left: 95%;
    z-index: 999;
}

.progress-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.progressBar-borrow-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    opacity: .5;
    color: #3D3D3D;
    text-align: center;
    margin-top: 1%;
}

.progress-outerBox {
    width: 10%;
    padding-top: .75%;
}

.MuiSlider-thumb:not(.MuiSlider-active) {
    transition: left 1s ease-in;
  }
  
  .MuiSlider-track {
    transition: width 1s ease-in;
  }

.progress-progressbar {
    width: 75%;
}

.progress-progressbarTwo {
    width: 100%;
}

.progress-blue {
    background-color: #4d96ff;
    border-radius: 10px;
    height: 6px;
    margin-top: 8px;
}

.progress-green {
    background-color: #6bcb77;
    border-radius: 10px;
    height: 6px;
    margin-top: 8px;
}

.progress-red {
    background-color: #ff6b6b;
    border-radius: 10px;
    height: 6px;
    margin-top: 8px;
}

.progress-yellow {
    background-color: #ffd93d;
    border-radius: 10px;
    height: 6px;
    margin-top: 8px;
}

.progress-grey {
    background-color: #595959;
    border-radius: 10px;
    height: 6px;
    margin-top: 8px;
}

.progress-label {
    background-color: #F3F3F4;
    width: 7.5%;
    border-radius: 10px;
    height: 10px;
    margin-left: 655px;
    text-align: center;
    position: absolute;
    top: 374px;
}

.borrow-bar {
    height: 6px;
    border-radius: 10px;
    background: red;
    margin-top: 1%;
}

.progress-label-text {
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-top: -4px;
    color: #3D3D3D;
}

.Loading {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 10px;
    background: #E6E6E6;
    border-radius: 4px;
    overflow: hidden;
}

.Loading:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    animation: load 20s infinite;
  }

.roadmap-boxtitle {
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    padding: 0;
    color: #3D3D3D;
    padding-top: 3%;
}

.roadmap-textwrap {
    padding-left: 2%;
}

.roadmap-description {
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
}

.roadmap-boxwrap {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    border-radius: 75px;
    width: 70%;
    background-color: #F3F3F4;
    padding: 1%;
}

.roadmap-boxwrapTwo {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    border-radius: 75px;
    width: 70%;
    background-color: #F3F3F4;
    padding: 1%;
    margin-left: 10%;
}

#basic-menu {
    border-radius: 40px;
}

#topRow {
    height: 40px;
}

#tableRow {
    height: 70px;
    font-family: 'Red Hat Display', sans-serif;
}

#tableRowCustom {
    height: 20px;
    background-color: #F3F3F4;
    border: 0 !important;
    font-family: 'Red Hat Display', sans-serif;
}

#tableRowTwo {
    background-color: #F3F3F4;
    font-family: 'Red Hat Display', sans-serif;
}

#collapseEdit {
    background-color: #F3F3F4;
    border: none;
}

.redHat {
    font-family: 'Red Hat Display', sans-serif;
}

#fullTable {
    font-family: 'Red Hat Display', sans-serif;
}

.roadmap-boxwrapThree {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
    border-radius: 75px;
    width: 70%;
    background-color: #F3F3F4;
    padding: 1%;
    margin-left: 20%;
}

.roadmap-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
    color: #3D3D3D;
    margin-bottom: 5%;
}

.roadmap-boxwrapBottom {
    display: flex;
    flex-direction: row;
    border-radius: 75px;
    width: 70%;
    background-color: #F3F3F4;
    padding: 1%;
    margin-bottom: 10%;
    margin-left: 30%;
}

.team-boxwrap {
    width: 270px;
    height: 350px;
    border-radius: 20px;
    padding: 30px, 0px, 30px, 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.team-image {
    width: 180px;
}

.team-imagewrap {
    margin: 0 auto;
}

.team-name {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
}

.team-gridwrap {
    padding-top: 5%;
    padding-bottom: 5%;
    justify-content: space-evenly;
}

.team-gridwrapTwo {
    padding-top: 5%;
    padding-bottom: 0px;
    width: 80%;
    justify-content: space-evenly;
}

.team-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: .8;
    text-align: center;
}

.team-title {
    font-weight: 600;
    font-size: 60px;
    line-height: 80px;
}

.team-socials {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 40%;
    margin: 0 auto;
}

.mint-wrap-green {
    background-image: url(../../assets/mint-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mint-wrap-blue {
    background-image: url(../../assets/whiteBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}

/* .mint-wrap-gray {
    background-image: url(../../assets/mint-bg-gray.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

/* .mint-wrap-purple {
    background-image: url(../../assets/mint-bg-purp.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

/* .mint-wrap-red {
    background-image: url(../../assets/mint-bg-red.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mint-wrap-yellow {
    background-image: url(../../assets/mint-bg-yellow.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
} */

.mint-content {
    color: #FFFFFF;
}

.mint-collect-text {
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    color: #3D3D3D;
    text-align: center;
}

.mint-button-text {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    padding-top: 8%;
}

.mint-button-text2 {
    font-size: 25px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    padding-top: 7%;
}

.mint-button {
    /* background-color: #4D96FF; */
    border-radius: 50px;
    width: 190px;
    height: 70px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.mint-button-not {
    background-color: #B1B1B1;
    border-radius: 50px;
    width: 190px;
    height: 70px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.mint-button-notLong {
    background-color: #B1B1B1;
    border-radius: 50px;
    width: 240px;
    height: 70px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.mint-button-notLong2 {
    background-color: #B1B1B1;
    border-radius: 50px;
    width: 265px;
    height: 70px;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 5%;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
    transition: var(--transition);
}

.mint-button-text-EA {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    padding-top: 8%;
}

.pass-wrap {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.pass {
    height: 350px;
}

/* HISTORY */

.history-wrap {
    background-color: #F3F3F4;
    min-height: 100vh;
    padding-bottom: 5%;
}

.historyTop-wrap {
    width: 50%;
    margin: 0 auto;
    margin-top: 3%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.export-button {
    width: 140px;
    height: 40px;
    border-radius: 20px;
    padding: 10px, 20px, 10px, 20px;
    border: 1px solid #6BCB77;
    margin-left: 1%;
    margin-right: 1%;
}

.export-button-wrap {
    display: flex;
    flex-direction: row;
}

.export-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    margin-top: 6%;
}

.expand-text {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
}

.history-title {
    color: #3D3D3D;
    font-weight: 500;
    font-size: 29px;
    line-height: 40px;
}

.supernova-box {
    height: 265px;
    width: 620px;
    background-color: #FF6B6B;
    position: absolute;
    top: 27%;
    left: 27.5%;
    border-radius: 35px;
    padding-top: 26px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.supernova-title {
    font-weight: 600;
    font-size: 45px;
    line-height: 60px;
    text-align: center;
    color: white;
}

.supernova-subtitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: white;
}

.supernova-button {
    width: 225px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 34px;
    margin: 0 auto;
    margin-top: 5px;
}

.supernova-button:hover {
    cursor: pointer;
}

.supernova-buttonText {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    padding-top: 9px;
}

@media screen and (max-width:1300px) {
    .dashbottom-box-top {
        margin-bottom: 1.25%;
        border-radius: 15px;
    }
    .dashbottom-box {
        border-radius: 15px;
    }
    .dashbottom-top {
        flex-direction: column;
        margin: 0 auto;
    }
    .dashbottom-bottom {
        flex-direction: column;
        margin: 0 auto;
        margin-top: 2%;
    }
    .roadmap-boxtitle {
        padding-top: 1.5%;
    }
    .mint-wrap {
        flex-direction: column;
    }
    .mint-content {
        margin: 0 auto;
    }
    .pass-wrap {
        margin: 0 auto;
        padding-left: 10%;
        padding-right: 10%;
        display: none;
    }
    .pass {
        height: 350px;
    }
}

@media screen and (min-width:901px) and (max-width:1100px) {
    .supernova-box {
        top: 30%;
        left: 17%;
    }
    .historyTop-wrap {
        width: 70%;
    }
    .hero-bucket-box {
        position: fixed;
        top: 68%;
        left: 95%;
    }
    .bucket-dash {
        margin-top: 0px;
    }
    .dash-nav-boxwrap {
        width: 100%;
    }
    .nav-color-wrap-dash {
        width: 40%;
        justify-content: space-around;
    }
    .modal-wrap {
        width: 50%;
    }
    .bubbles-wrap {
        padding-right: 0px;
    }
    .hero-top-wrap {
        width: 85%;
        padding-top: 100px;
    }
    .dashbottom-wrap {
        flex-direction: column;
    }
    .dashbottom-box {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    /* .dash-wrap-whole {
        height: 120vh;
    }
    .dash-wrap-whole-red {
        height: 120vh;
    }
    .dash-wrap-whole-blue {
        height: 120vh;
    }
    .dash-wrap-whole-yellow {
        height: 120vh
    }
    .dash-wrap-whole-gray {
        height: 120vh
    } */
}

@media screen and (min-width:601px) and (max-width:900px) {
    .supernova-box {
        top: 30%;
        left: 10%;
    }
    .historyTop-wrap {
        width: 80%;
    }
    .roadmap-boxwrap {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 95%;
    }
    .roadmap-boxwrapTwo {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 95%;
    }
    .roadmap-boxwrapThree {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 95%;
    }
    .roadmap-boxwrapBottom {
        margin: 0 auto;
        margin-bottom: 10%;
        width: 95%;
    }
    .hero-bucket-box {
        position: fixed;
        top: 68%;
        left: 90%;
    }
    .mint-content {
        margin: 0 auto;
        padding-top: 30%;
    }
    .app-button-dash {
        margin: 0 auto;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
    }
    .nav-wrap-dash {
        flex-direction: column;
    }
    .bucket-dash {
        margin-top: 0px;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .theme-box-dash {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .dash-nav-boxwrap {
        width: 70%;
        margin: 0 auto;
    }
    .nav-color-wrap-dash {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    .logo-nav-dash {
        width: 200px;
        margin: 0 auto;
    }
    .modal-wrap {
        width: 60%;
    }
    .bubbles-wrap {
        padding-right: 0px;
    }
    .hero-top-wrap {
        width: 85%;
        padding-top: 100px;
    }
    .brand-box {
        padding-right: 3%;
    }
    .dashbottom-wrap {
        flex-direction: column;
    }
    .dashbottom-box {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    /* .dash-wrap-whole {
        height: 120vh;
    }
    .dash-wrap-whole-red {
        height: 120vh;
    }
    .dash-wrap-whole-blue {
        height: 120vh;
    }
    .dash-wrap-whole-yellow {
        height: 120vh
    }
    .dash-wrap-whole-gray {
        height: 120vh
    } */
    .theme-box-dash {
        margin-left: 25px;
    }
}

@media screen and (min-width:475px) and (max-width:600px) {
    .supernova-box {
        top: 30%;
        left: 10%;
        width: 80%;
    }
    .historyTop-wrap {
        width: 80%;
    }
    .export-button-wrap {
        padding-top: 5%;
    }
    .target {
        display: none;
    }
    .roadmap-textwrap {
        text-align: center;
    }
    .roadmap-boxwrap {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapTwo {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapThree {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapBottom {
        margin: 0 auto;
        margin-bottom: 10%;
        width: 100%;
    }
    .hero-bucket-box {
        position: fixed;
        top: 68%;
        left: 85%;
    }
    .app-button-dash {
        margin: 0 auto;
    }
    .mint-content {
        margin: 0 auto;
        padding-top: 35%;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
    }
    .theme-box-dash {
        margin-left: 25px;
    }
    .nav-wrap-dash {
        flex-direction: column;
    }
    .bucket-dash {
        margin-top: 0px;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .theme-box-dash {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .dash-nav-boxwrap {
        width: 80%;
        margin: 0 auto;
    }
    .nav-color-wrap-dash {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    .logo-nav-dash {
        width: 200px;
        margin: 0 auto;
    }
    .modal-wrap {
        width: 70%;
    }
    .bubbles-wrap {
        padding-right: 0px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .hero-top-wrap {
        width: 85%;
        padding-top: 80px;
        margin-bottom: 15px;
    }
    .brand-box {
        display: flex;
        margin: 0 auto;
        padding-right: 0;
    }
    .brand-logo-image {
        display: flex;
        justify-content: center;
    }
    .hero-main-text {
        font-size: 40px;
    }
    .protocol-box {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .main-box-brand {
        flex-direction: column-reverse;
    }
    .docs-arrow-box {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .dashbottom-wrap {
        flex-direction: column;
    }
    .dashbottom-box {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 465px;
    }
    .dashbottom-box-top {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 465px;
    }
    /* .dash-wrap-whole {
        height: 120vh;
    }
    .dash-wrap-whole-red {
        height: 120vh;
    }
    .dash-wrap-whole-blue {
        height: 120vh;
    }
    .dash-wrap-whole-yellow {
        height: 120vh
    }
    .dash-wrap-whole-gray {
        height: 120vh
    } */
    .assetrow-text-btc {
        margin-top: 0px;
    }
}

@media screen and (min-width:400px) and (max-width:474px) {
    .supernova-box {
        top: 30%;
        left: 10%;
        width: 80%;
        height: 300px;
    }
    .historyTop-wrap {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .export-button-wrap {
        flex-direction: column;
        margin: 0 auto;
    }
    .export-button {
        margin-bottom: 5%;
    }
    .target {
        display: none;
    }
    .roadmap-textwrap {
        text-align: center;
    }
    .roadmap-boxwrap {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapTwo {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapThree {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapBottom {
        margin: 0 auto;
        margin-bottom: 10%;
        width: 100%;
    }
    .hero-bucket-box {
        position: fixed;
        top: 68%;
        left: 80%;
    }
    .mint-content {
        margin: 0 auto;
        padding-top: 40%;
    }
    .app-button-dash {
        margin: 0 auto;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
    }
    .theme-box-dash {
        margin-left: 25px;
    }
    .community-box {
        margin-right: -15px;
    }
    .nav-wrap-dash {
        flex-direction: column;
    }
    .bucket-dash {
        margin-top: 0px;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    .theme-box-dash {
        display: flex;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 10px;
    }
    .dash-nav-boxwrap {
        width: 100%;
        flex-direction: row;
        margin: 0 auto;
    }
    .nav-color-wrap-dash {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    .logo-nav-dash {
        width: 175px;
        margin: 0 auto;
    }
    .colorpicker {
        margin: 0;
        padding: 0;
        margin-left: -25px;
    }
    .nav-wrap {
        flex-direction: column;
    }
    .nav-wrap-right {
        width: 60%;
        flex-direction: column;
    }
    .modal-wrap {
        width: 80%;
    }
    .bubbles-wrap {
        padding-right: 0px;
        margin: 0 auto;
        width: 350px;
    }
    .hero-top-wrap {
        width: 88%;
        padding-top: 75px;
        margin-bottom: 20px;
    }
    .brand-box {
        display: flex;
        margin: 0 auto;
        padding-right: 0;
    }
    .brand-logo-image {
        display: flex;
        justify-content: center;
        width: 300px;
    }
    .hero-main-text {
        font-size: 35px;
    }
    .bucket {
        margin-right: -15px;
    }
    .protocol-box {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .docs-arrow-box {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .app-button {
        width: 80px;
        height: 30px;
        margin-top: 10px;
    }
    .app-button-dash {
        width: 80px;
        height: 30px;
        margin-top: 30px;
        margin-left: 50px;
    }
    .logo-nav {
        width: 130px;
        margin-top: 15px;
    }
    .main-box-brand {
        flex-direction: column-reverse;
    }
    .dash-nav-box {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .dashbottom-wrap {
        flex-direction: column;
    }
    .dashbottom-box {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 390px;
    }
    .dashbottom-box-top {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 390px;
    }
    /* .dash-wrap-whole {
        height: 110vh;
    }
    .dash-wrap-whole-red {
        height: 110vh;
    }
    .dash-wrap-whole-blue {
        height: 110vh;
    }
    .dash-wrap-whole-yellow {
        height: 110vh
    }
    .dash-wrap-whole-gray {
        height: 110vh
    } */
    .assetrow-text-btc {
        margin-top: 0px;
    }
    .nav-wrap-dash {
        padding-left: 2.5%;
        padding-right: 2.5%;
    }
}

@media screen and (min-width: 340px) and (max-width:399px) {
    .supernova-box {
        top: 30%;
        left: 5%;
        width: 90%;
        height: 300px;
    }
    .historyTop-wrap {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .export-button-wrap {
        flex-direction: column;
        margin: 0 auto;
    }
    .export-button {
        margin-bottom: 5%;
    }
    .target {
        display: none;
    }
    .roadmap-textwrap {
        text-align: center;
    }
    .roadmap-boxwrap {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapTwo {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapThree {
        margin: 0 auto;
        margin-bottom: 3%;
        width: 100%;
    }
    .roadmap-boxwrapBottom {
        margin: 0 auto;
        margin-bottom: 10%;
        width: 100%;
    }
    .hero-bucket-box {
        position: fixed;
        top: 68%;
        left: 77%;
    }
    .mint-content {
        margin: 0 auto;
        padding-top: 50%;
    }
    .app-button-dash {
        margin: 0 auto;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
    }
    .theme-box-dash {
        margin-left: 25px;
    }
    .community-box {
        margin-right: -13px;
    }
    .nav-wrap-dash {
        flex-direction: column;
    }
    .bucket-dash {
        margin-top: -25px;
    }
    .color-wrap-nav-dash-bottom {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        margin-left: 40px;
        margin-bottom: 10px;
        margin-top: 0;
    }
    .theme-box-dash {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .dash-nav-boxwrap {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }
    .nav-color-wrap-dash {
        width: 70%;
        margin: 0 auto;
        flex-direction: column;
    }
    .logo-nav-dash {
        width: 175px;
        margin: 0 auto;
    }
    .colorpicker {
        margin: 0;
        padding: 0;
        margin-left: -25px;
    }
    .nav-wrap {
        flex-direction: column;
    }
    .nav-wrap-right {
        width: 60%;
        flex-direction: column;
    }
    .modal-wrap {
        width: 90%;
    }
    .bubbles-wrap {
        padding-right: 0px;
        padding-left: 0;
        margin: 0 auto;
    }
    .hero-top-wrap {
        width: 95%;
        padding-top: 60px;
    }
    .brand-box {
        display: flex;
        margin: 0 auto;
        margin-top: 10px;
    }
    .brand-logo-image {
        display: flex;
        justify-content: center;
        height: 300px;
    }
    .hero-main-text {
        font-size: 30px;
    }
    .protocol-box {
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .docs-arrow-box {
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .bucket {
        margin-left: 10px;
    }
    .app-button {
        width: 80px;
        height: 30px;
        margin-top: 10px;
    }
    .main-box-brand {
        flex-direction: column-reverse;
    }
    .logo-nav {
        width: 150px;
        margin-top: 15px;
    }
    .logo-nav-dash {
        width: 130px;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .main-box-brand {
        flex-direction: column-reverse;
    }
    .dash-nav-boxwrap {
        width: 100%;
        margin: 0 auto;
    }
    .dash-nav-box {
        margin-top: 0px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .dashbottom-wrap {
        flex-direction: column;
    }
    .dashbottom-box {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 335px;
    }
    .dashbottom-box-top {
        margin: 0 auto;
        margin-bottom: 10px;
        width: 335px;
    }
    /* .dash-wrap-whole {
        height: 130vh;
    }
    .dash-wrap-whole-red {
        height: 130vh;
    }
    .dash-wrap-whole-blue {
        height: 130vh;
    }
    .dash-wrap-whole-yellow {
        height: 130vh
    }
    .dash-wrap-whole-gray {
        height: 130vh
    } */
    .assetrow-text-btc {
        margin-top: 0px;
    }
    .nav-wrap-dash {
        padding-left: 2.5%;
        padding-right: 2.5%;
        flex-direction: column;
    }
    .assetrow-collateral {
        padding-top: 17px;
    }  
    .dashtop-miniwrap {
        padding-bottom: 0%;
        margin-bottom: 0;
    }
}

@keyframes load {
    0% {
      width: 0;
      background: #6BCB77;
    }
    
    25% {
      width: 40%;
      background: #FF6B6B;
    }
    
    50% {
      width: 60%;
      background: #4D96FF;
    }
    
    75% {
      width: 75%;
      background: #8F6BCB;
    }
    
    100% {
      width: 100%;
      background: #595959;
    }
  }
  
  @keyframes pulse {
    0% {
      background: #6BCB77;
    }
    
    25% {
      background: #FF6B6B;
    }
    
    50% {
      background: #4D96FF;
    }
    
    75% {
      background: #8F6BCB;
    }
    
    100% {
      background: #595959;
    }
  }